body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;/* Ajusta este valor a la altura que prefieras */
    margin: 105px auto !important;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f2f2f2;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
}

.pdf-button {
    background-color: rgba(53, 117, 55, 0.87);
    color: white;
}

.pdf-button:hover {
    background-color: rgba(53, 117, 55, 0.87);
}

.xml-button {
    background-color: #065b80;
    color: white;
}

.xml-button:hover {
    background-color: #065b80;
}

.table-container{
    overflow-x: auto;
    max-height: 300px;
}