img {
    width: 30%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}

header, footer {
    background-color: #4169E1;
    height: 15%;
}
header {
    position: absolute;
    top: 0;
    width: 100%;
}
.right-text{
    color: white;
    font-size: 1.0em;
    font-family: 'Arial';
    justify-content: flex-end;
    margin-right: 1.5%;
}
main{
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    margin-bottom: auto;
}
.logo {
    float: left;
    border-radius: 50%;
    width: 6%;
    margin-top: 22px;
}
.title {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Arial'
}
h2{
    justify-content: flex-start;
    color: white;
}
.header-content {
    display: flex;
    align-items: center;
    margin-top: -20px;
}
.right-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.social-logo{
    width: 30px;
    height: auto;
    margin-left: 3px;
}

.Idiomas{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}
.Idiomas img{
    width: 10%;
    height: auto;
    margin-left: 3px;
}
.Idiomas select {
    border-radius: 20px;
    border: 1px solid gray;
}
.left-text{
    color: white;
    font-size: 1.0em;
    font-family: 'Arial';
    margin-left: 0.5%;

}
.logout-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #cccccc;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color:white;
}

.logout-button:hover {
    background-color: #d32f2f;
    color: white;
}