<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Formulario de proveedor</title>

    <link rel="stylesheet" th:href="@{/css/formularioProveedor.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
</head>
<header th:replace="/template :: header"></header>
<body>
    <div class="card">
    <h1>Formulario de proveedor</h1>


        <div th:if="${mensaje}" class="alert alert-danger" role="alert">
            <p th:text="${mensaje}"></p>
        </div>
        <div th:if="${alerta}" class="alert alert-danger" role="alert">
            <p th:text="${alerta}"></p>
        </div>
    <form th:object="${proveedor}" th:action="@{/ProveedorController/nuevo_proveedor}" method="post">
    <!--  <input type="hidden" th:field="*{idProveedor}">-->

        <label for="tipoProveedor">Tipo (Físico/Jurídico):</label>
        <select id="tipoProveedor" name="tipoProveedor" th:field="*{tipoProveedor}" required>
            <option value="Registrar">Registrar</option>
            <option value="Fisico">Físico</option>
            <option value="Juridico">Jurídico</option>
        </select>
        <label for="actividadComercial">Actividad Comercial:</label>
        <select id="actividadComercial" name="actividadComercial" th:field="*{actividadComercial}" required>
            <option value="Registrar">Registrar</option>
            <option value="Servicios">Servicios</option>
            <option value="Consumibles">Consumibles</option>
            <option value="Infraestructura">Infraestructura</option>
            <option value="Bienes">Bienes</option>
        </select>
        <label>Identificación: <input type="text" th:field="*{idProveedor}" required></label>
        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
        <p th:if="${mensaj}" th:text="${mensaj}" style="color: red;"></p>

        <label>Nombre: <input type="text" th:field="*{nombre}" required></label>
        <label>Correo: <input type="text" th:field="*{correoElectronico}" pattern=".+@.+\..+" required></label>
        <label>Contraseña: <input type="text" th:field="*{contrasena}" required></label>
        <label>Teléfono: <input type="text" th:field="*{telefono}" required></label>
        <label>Dirección: <input type="text" th:field="*{direccion}" required></label>

        <button type="submit">Guardar</button>

        <a th:href="@{/}" class="link">Ir a la página de inicio</a>

    </form>


    </div>
    </div>


<pre th:text="${{model}}"></pre>
</body>
<footer th:replace="/template :: footer"></footer>
</html>
