<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title th:text="#{FormularioP}">Formulario de proveedor</title>

    <link rel="stylesheet" th:href="@{/css/formularioProveedor.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
</head>
<header th:replace="/template :: header"></header>
<body>
    <div class="card">
    <h1 th:text="#{FormularioP}">Formulario de proveedor</h1>

    <div class="container">
    <form th:object="${proveedor}" th:action="@{/ProveedorController/nuevo_proveedor}" method="post">

        <label for="tipoProveedor" th:text="#{Tipo}">Tipo (Físico/Jurídico):</label>
        <select id="tipoProveedor" name="tipoProveedor" th:field="*{tipoProveedor}" required>
            <option value="Registrar" th:text="#{Registrar}">Registrar</option>
            <option value="Físico" th:text="#{TipoCedulaFisica}">Físico</option>
            <option value="Jurídico" th:text="#{TipoCedulaJuridica}">Jurídico</option>
        </select>
        <label for="actividadComercial" th:text="#{Actividad}">Actividad Comercial:</label>
        <select id="actividadComercial" name="actividadComercial" th:field="*{actividadComercial}" required>
            <option value="Registrar" th:text="#{Registrar}">Registrar</option>
            <option value="Servicios" th:text="#{Servicios}">Servicios</option>
            <option value="Consumibles" th:text="#{Consumibles}">Consumibles</option>
            <option value="Infraestructura" th:text="#{Infraestructura}">Infraestructura</option>
            <option value="Bienes" th:text="#{Bienes}">Bienes</option>
        </select>
        <label th:text="#{ID}">Identificación:</label> <input type="text" th:field="*{idProveedor}" required>
        <label th:text="#{Nombre}">Nombre: </label><input type="text" th:field="*{nombre}" required>
        <label th:text="#{Correo}">Correo: </label><input type="text" th:field="*{correoElectronico}" pattern=".+@.+\..+" required>
        <label th:text="#{Contrasena}">Contraseña: </label><input type="text" th:field="*{contrasena}" required>
        <label th:text="#{Telefono}">Teléfono: </label><input type="text" th:field="*{telefono}" required>
        <label th:text="#{Direccion}">Dirección: </label><input type="text" th:field="*{direccion}" required>

        <input type="submit" th:value="#{Registrar}">

        <a th:href="@{/}" class="link" th:text="#{PaginaInicio}">Ir a la página de inicio</a>
    </form>
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${errorTipoProveedor}" class="alert alert-danger" role="alert">
        <p th:text="${errorTipoProveedor}"></p>
    </div>
    <div th:if="${errorActividadComercial}" class="alert alert-danger" role="alert">
        <p th:text="${errorActividadComercial}"></p>
    </div>
    </div>
    </div>


<pre th:text="${{model}}"></pre>
</body>
<footer th:replace="/template :: footer"></footer>
</html>
