<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title th:text="#{EditarProductos}">Editar Producto</title>
    <link rel="stylesheet" th:href="@{/css/FormularioEditarProductos.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
</head>
<header th:replace="/template :: header"></header>
<body>
<div class="container">
    <h1 th:text="#{EditarProductos}">Editar Producto</h1>
    <form th:object="${producto}" th:action="@{/ProductoController/edit}" method="post">
        <label th:text="#{Codigo}">Código: <input type="text" th:field="*{productoId}" th:value="${producto.productoId}" readonly></label>
        <label th:text="#{Nombre}">Nombre: <input type="text" th:field="*{nombre}" th:value="${producto.nombre}"></label>
        <label th:text="#{Descripcion}">Descripción: <input type="text" th:field="*{descripcion}" th:value="${producto.descripcion}"></label>
        <label th:text="#{Precio}">Precio: <input type="number" th:field="*{precio}" th:value="${producto.precio}"></label>
        <label th:text="#{Nombre}">Nombre: <input type="text" th:field="*{proveedorId}" th:value="${producto.proveedorId}" readonly></label>
        <label th:text="#{TipoProducto}">Tipo de producto:
            <select th:field="*{tipoProducto}">
                <option th:each="tipo : ${producto.tipoProducto}" th:value="${tipo}" th:text="${tipo}"></option>
            </select>
        </label>

        <button type="submit" th:text="#{Guardar}">Guardar</button>
    </form>
    <button class="submit-button" th:onclick="'window.location.href=\'/ProductoController/ListadeProducto\''" th:text="#{Regresar}">Volver</button>
</div>
</body>
<footer th:replace="/template :: footer"></footer>
</html>