<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title th:text="#{Factura}">Factura</title>
    <link rel="stylesheet" th:href="@{/css/formularioFactura.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
</head>
<header th:replace="/template :: header"></header>
<body>
    <h1 th:text="#{Facturacion}">Facturacion</h1>
    <div class="container">
        <td th:text="${session.id_proveedor}"></td>
        <td><button class="button" th:onclick="'window.location.href=\'/FacturaController/ListadeFacturas\''">Volver</button></td>
        <div class="container-clientes">
            <h1 th:text="#{Clientes}">Clientes</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th th:text="#{Nombre}">Nombre</th>
                    <th th:text="#{Correo}">Correo</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.clienteId}"></td>
                    <td th:text="${cliente.getNombre()}"></td>
                    <td th:text="${cliente.getCorreoElectronico()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container-productos">
            <h1 th:text="#{Productos}">Productos</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th th:text="#{Nombre}">Nombre</th>
                    <th th:text="#{Descripcion}">Descripción</th>
                    <th th:text="#{Precio}">Precio</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.getProductoId()}"></td>
                    <td th:text="${producto.getNombre()}"></td>
                    <td th:text="${producto.getDescripcion()}"></td>
                    <td th:text="${producto.getPrecio()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="form-factura">
            <h1 th:text="#{Facturar}">Facturar</h1>
            <form  th:action="@{/FacturaController/guardarFactura}" method="post">
                <label for="clienteId" th:text="#{IDCliente}">ID del cliente:</label>
                <input type="text" id="clienteId" name="clienteId" required></br>
                <label for="productoId" th:text="#{IDProducto}">ID del producto:</label>
                <input type="text" id="productoId" name="productoId" required></br>
                <label for="cantidad" th:text="#{CantidadF}">Cantidad a facturar:</label>
                <input type="number" id="cantidad" name="cantidad" required></br></br>

                <input type="submit" th:value="#{Facturar}">
                <td><button class="button" th:onclick="'window.location.href=\'/FacturaController/ListadeFacturas\''" th:text="#{Regresar}">Volver</button></td>
            </form>
        </div>
    </div>



</body>
<footer th:replace="~{/template :: footerWithLogout}"></footer>
</html>