<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title th:text="#{TituloProducto}">Nuevo Producto</title>
    <link rel="stylesheet" th:href="@{/css/FormularioProductos.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
</head>
<header th:replace="/template :: header"></header>
<body>
<div class="container">
    <h1 th:text="#{TituloProducto}">Nuevo Producto</h1>
    <form th:object="${producto}" th:action="@{/ProductoController/nuevo}" method="post">
        <label th:text="#{Nombre}">Nombre: </label><input type="text" th:field="*{nombre}">
        <label th:text="#{Descripcion}">Descripcion: </label><input type="text" th:field="*{descripcion}">
        <label th:text="#{Precio}">Precio: </label><input type="number" th:field="*{precio}">
        <label>Tipo de producto:
            <select th:field="*{tipoProducto}">
                <option th:each="tipo : ${actividad}" th:value="${actividad}" th:text="${actividad}"></option>
            </select>
        </label>
        <button type="submit" th:text="#{Guardar}">Guardar</button>
    </form>
    <button class="submit-button" th:onclick="'window.location.href=\'/ProductoController/ListadeProducto\''" th:text="#{Regresar}">Volver</button>
</div>
</body>
<footer th:replace="/template :: footer"></footer>
</html>