<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="container">
    <h1>Formulario de Cliente</h1>

    <form th:object="${producto}" th:action="@{/ProductoController/nuevo}" method="post">



        <label>Identificacion:</label>
        <input type="text" th:field="*{nombre}">

        <label>Nombre:</label>
        <input type="text" th:field="*{descripcion}">

        <label>Dirección:</label>
        <input type="text" th:field="*{precio}">

        <label>Tipo de Cliente:</label>
        <input type="text" th:field="*{tipoProducto}">


        <button type="submit">Guardar</button>

        <!-- Enlace para volver al inicio -->
        <a th:href="@{/}" class="link">Ir a la página de inicio</a>
    </form>
</div>

</body>

</html>