<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Formulario de proveedor</title>
    <link rel="stylesheet" th:href="@{/css/FormularioEditarProveedor.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
</head>
<header th:replace="/template :: header"></header>
<body>
<div class="form-group">
    <div class="form-row" style="display: inline;">
        <h1 th:text="#{FormularioP}">Formulario de proveedor</h1>
    <form th:object="${proveedor}" th:action="@{/ProveedorController/editar/{id}(id=${proveedor.getIdProveedor()})}" method="post">
        <label th:text="#{ID}">Identificación: </label>
        <span th:text="${session.id_proveedor}" readonly></span><br><br>
        <label th:text="#{Nombre}">Nombre:</label> <input type="text" th:field="*{nombre}" required><br><br>
        <label th:text="#{Correo}">Correo:</label> <input type="text" th:field="*{correoElectronico}" required><br><br>
        <label th:text="#{Contrasena}">Contraseña: </label><input type="text" th:field="*{contrasena}" required><br><br>
        <label th:text="#{Telefono}">Teléfono: </label><input type="text" th:field="*{telefono}" required><br><br>
        <label th:text="#{Direccion}">Dirección: </label><input type="text" th:field="*{direccion}" required><br><br>
        <label for="tipo_proveedor"><span style="color: red;">*</span><span th:text="#{TipoCedula}">Tipo de Cédula</span>:</label>
        <select id="tipo_proveedor" onchange="" th:field="*{tipoProveedor}" disabled>
            <option value="ninguna" th:text="#{TipoCedulaNinguna}">Tipo de cédula</option>
            <option value="Jurídico" th:text="#{TipoCedulaJuridica}">Cédula Jurídica</option>
            <option value="Físico" th:text="#{TipoCedulaFisica}">Cédula Física</option>
        </select><br><br>
        <button type="submit" th:text="#{Guardar}">Guardar</button>
        <a href="/homecontroler/ProveedorAcciones" class="add-link" th:text="#{Regresar}">Regresar</a>
    </form>
</div>o
</div>
</body>
<footer th:replace="/template :: footer"></footer>
</html>

