<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{Sistema}">Sistema de facturación</title>
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" th:href="@{/css/Home.css}">
</head>
<header th:replace="/template :: header"></header>
<body>
<div class="button-container">
    <h1 th:text="#{Encabezado}">¡Bienvenidos al Sistema web de factura Electrónica simplificada!</h1>
    <p class="subtitle" th:text="#{Subtitulo}">Para la gestión de Facturas electrónicas.</p><br>
    <img th:src="@{/Imagenes/FacturaInicio.jpg}" alt="Factura inicio"><br>
    <button class="button login-button" onclick="window.location.href='/LoginController/inicio'" th:text="#{IniciarSesion}">Ingresar</button>
    <button class="button signup-button" onclick="window.location.href='/ProveedorController/nuevo'"th:text="#{Registrar}">Registrarse</button>
</div>
</body>
<footer th:replace="~{/template :: footer}"></footer>
</html>
