<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title th:text="#{ListadoF}">Listado de Facturas</title>
    <link rel="stylesheet" th:href="@{/css/ListarFacturas.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
</head>
<header th:replace="/template :: header"></header>
<body>
<main>

<div class="container">

    <h1 th:text="#{ListadoF}">Listado de Facturas</h1>
    <span class="id-proveedor" th:text="#{IDP}"><b>Identificación del Provedor:</b> </span>
    <span th:text="${session.id_proveedor}"></span>
    <p th:if="${mensaje}" th:text="${mensaje}"></p>

    <td><button class="button" th:onclick="'window.location.href=\'/FacturaController/NuevaFactura\''" th:text="#{NuevaF}">Nueva Factura</button></td>
    <td><button class="button pdf-button" th:onclick="'window.location.href=\'/FacturaController/pdf\''" th:text="#{GenerarPDF}">Generar PDF de Facturas</button></td>
    <td><button class="button xml-button" th:onclick="'window.location.href=\'/FacturaController/xml\''" th:text="#{GenerarXML}">Generar XML de Facturas</button></td>
    <div class="table-container">
    <table>
        <tr>
            <th th:text="#{FacturaID}">Factura ID</th>
            <th th:text="#{ProveedorID}">Proveedor</th>
            <th th:text="#{ClienteID}">Cliente</th>
            <th th:text="#{ProductoID}">Producto</th>
            <th th:text="#{Precio}">Precio</th>
            <th th:text="#{Fecha}">Fecha</th>
            <th th:text="#{Cantidad}">Cantidad</th>
            <th th:text="#{Total}">Total</th>
            <th th:text="#{Acciones}">Acciones</th>
        </tr>

        <tr th:each="factura : ${Facturas}">
            <td th:text="${factura.getFacturaId()}"></td>
            <td th:text="${factura.getProveedor()}"></td>
            <td th:text="${factura.getCliente()}"></td>
            <td th:text="${nombresProductos[factura.getId_producto().toString()]}"></td>
            <td th:text="${preciosProductos[factura.getId_producto().toString()]}"></td>
            <td th:text="${factura.getFecha()}"></td>
            <td th:text="${factura.getCantidad()}"></td>
            <td th:text="${factura.getTotal()}"></td>
            <td>
                <a class="button pdf-button" th:href="@{'/FacturaController/pdf/' + ${factura.getFacturaId()}}">PDF</a>
                <a class="button xml-button" th:href="@{'/FacturaController/xml/' + ${factura.getFacturaId()}}">XML</a>
            </td>
        </tr>

    </table>
    </div>
    <td><button class="button" th:onclick="'window.location.href=\'/homecontroler/ProveedorAcciones\''" th:text="#{Regresar}">Volver</button></td>
</div>
</main>
</body>
<footer th:replace="/template :: footer"></footer>
</html>