<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Clientes</title>
    <link rel="stylesheet" th:href="@{/css/ListarClientes.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
</head>
<body>
<header th:replace="/template :: header"></header>
<div class="container">
    <h1>Listado de Clientes</h1>
    <td th:text="${session.id_proveedor}"></td>
    <td><button class="button" th:onclick="'window.location.href=\'/homecontroler/ProveedorAcciones\''">Volver</button></td>
    <td><button class="button" th:onclick="'window.location.href=\'/ClienteController/nuevocliente\''">Nuevo Cliente</button></td>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Correo</th>
            <th>Tipo</th>
            <th>Acciones</th> <!-- Nueva columna para botones de acción -->
        </tr>
        </thead>

        <tbody>
        <tr th:each="cliente : ${clientesProveedor}">
            <td th:text="${cliente.clienteId}"></td>
            <td th:text="${cliente.getNombre()}"></td>
            <td th:text="${cliente.getDireccion()}"></td>
            <td th:text="${cliente.correoElectronico}"></td>
            <td th:text="${cliente.getTipoCliente()}"></td>
            <td>
                <!-- Botón para editar -->
                <a th:href="@{/ClienteController/editar/{id}(id=${cliente.getClienteId()})}" style="margin-right: 10px;">Editar</a>


            </td>
        </tr>
            <form action="/ClienteController/nuevocliente" method="get">
                <button type="submit" class="button">Agregar Cliente</button>
            </form>

        <td><button class="button" th:onclick="'window.location.href=\'/ProveedorAcciones\''">Volver</button></td>


        </tbody>
    </table>
    </div>
    <footer th:replace="/template :: footer"></footer>
</body>
</html>
