<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prueba plantilla</title>

    <style>
        table{border-collapse: collapse;width: 100%}
        th,td{ padding: 8px;text-alig:left;border-bottom: 1px solid gray;}
        tr:hover{background-color: brown}
    </style>

</head>
<body>

<h1>Listado de Proveedores</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Correo</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="proveedor : ${listaProveedor}">
        <td th:text="${proveedor.idProveedor}"></td>
        <td th:text="${proveedor.nombre}"></td>
        <td th:text="${proveedor.telefono}"></td>
        <td th:text="${proveedor.correoElectronico}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
