<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{Listado}">Listado de Proveedores</title>
    <link rel="stylesheet" th:href="@{/css/listarProveedor.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
</head>
<header th:replace="/template :: header"></header>
<body>
<main>
<div class="container">
    <h1 th:text="#{ListadoProvedores}">Listado de Proveedores</h1>

    <!-- Agrega el bloque para mostrar el mensaje de error -->
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <p th:text="${error}"></p>
    </div>
    <div class="table-container">
    <table>
        <thead>
        <tr>
            <th th:text="#{Proveedor}">ID</th>
            <th th:text="#{Nombre}">Nombre</th>
            <th th:text="#{Correo}">Correo</th>
            <th th:text="#{Telefono}">Teléfono</th>
            <th th:text="#{Direccion}">Dirección</th>
            <th th:text="#{TipoProveedor}">Tipo de Proveedor</th>
            <th th:text="#{Estado}">Estado</th>
            <th th:text="#{Acciones}">Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="proveedor : ${listaProveedor}">
            <td th:text="${proveedor.idProveedor}"></td>
            <td th:text="${proveedor.nombre}"></td>
            <td th:text="${proveedor.correoElectronico}"></td>
            <td th:text="${proveedor.telefono}"></td>
            <td th:text="${proveedor.direccion}"></td>
            <td th:text="${proveedor.tipoProveedor}"></td>
            <td th:text="${proveedor.estado}"></td>
            <td>
                <a class="button aceptar-button" th:href="@{'/ProveedorController/estado/' + ${proveedor.idProveedor} + '/Aceptado'}" th:text="#{Aceptar}">Aceptar</a>
                <a class="button rechazar-button" th:href="@{'/ProveedorController/estado/' + ${proveedor.idProveedor} + '/Rechazado'}" th:text="#{Rechazar}">Rechazar</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <a href="/LoginController/inicio" class="add-link" th:text="#{Regresar}">Regresar</a>

</div>
</main>
</body>
<footer th:replace="/template :: footer"></footer>
</html>
