<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{IniciarSesion}">Iniciar sesión</title>
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" th:href="@{/css/IniciarSesion.css}">
</head>
<header th:replace="/template :: header"></header>
<body>
<div class="container">
    <h1 th:text="#{IniciarSesion}">Iniciar sesión</h1>
    <form action="/LoginController/login" method="post">
        <img src="/Imagenes/Provedor.png" alt="Descripción de la imagen" class="ImgenInicio"><br><br>
        <label for="numero_identificacion" th:text="#{ID}">Número de Identificación:</label>
        <input type="text" id="numero_identificacion" name="numero_identificacion" required><br>

        <label for="contrasena" th:text="#{Contrasena}">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required><br>

        <input type="submit" th:value="#{IniciarSesion}" value="Iniciar sesión">

        <p th:if="${error}" style="color: red;">${error}</p>
    </form>

    <a th:href="@{/}" class="link" th:text="#{PaginaInicio}">Ir a la página de inicio</a>
</div>
<footer th:replace="~{/template :: footerWithLogout}"></footer>
</body>
</html>


