<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="#{TituloTemplate}">Sistema de facturación electrónica simplificada</title>
    <link rel= "stylesheet" th:href="@{/css/template.css}">
</head>
<body>
<header th:fragment="header">
    <div class="header-content">
        <img src="/Imagenes/Ministerio%20de%20hacienda.jpg" alt="Logo del ministerio" class="logo">
        <h2 class="title" th:text="#{Sistema}">Sistema de Facturación</h2>
        <div class="Idiomas">
        <img src="/Imagenes/Idiomas.png" alt="Idiomas" class="IdiomasI">
            <select onchange="location = this.value;">
                <option value="">Idiomas</option>
                <option value="?lang=es"><img src="/Imagenes/España.jpg">Español</option>
                <option value="?lang=en" data-image="/Imagenes/EstadosUnidos.jpg">Inglés</option>
                <option value="?lang=fr" data-image="/Imagenes/Francia.jpg">Francés</option>
            </select>
        </div>
    </div>

</header>
<footer th:fragment="footer">
    <p class="left-text" th:text="#{Pie}">Sistema Web</p>
    <div class="right-content">
        <img src="/Imagenes/facebook.png" alt="Logo de Facebook" class="social-logo">
        <img src="/Imagenes/instagram.png" alt="Logo de Instagram" class="social-logo">
        <img src="/Imagenes/twitter.png" alt="Logo de Twitter" class="social-logo">
        <p class="right-text">c2024</p>
    </div>

</footer>
</body>
</html>