<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:fmt="http://www.w3.org/1999/XSL/Transform">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="#{TituloTemplate}">Sistema de facturación electrónica simplificada</title>
    <link rel= "stylesheet" th:href="@{/css/template.css}">
</head>
<body>
<header th:fragment="header">
    <div class="header-content">
        <img src="/Imagenes/Ministerio%20de%20hacienda.jpg" alt="Logo del ministerio" class="logo">
        <h2 class="title" th:text="#{Sistema}">Sistema de Facturación</h2>
        <div class="Idiomas">
            <img src="/Imagenes/Idiomas.png" alt="Idiomas" class="IdiomasI">
            <select onchange="location = this.value;">
                <option value="" th:text="#{Idiomas}">Idiomas (Languages)</option>
                <option value="?lang=es" th:text="#{Espanol}">Español(Spanish)</option>
                <option value="?lang=en" th:text="#{Ingles}">Inglés(English)</option>
                <option value="?lang=fr" th:text="#{Frances}">Francés(French)</option>
            </select>
        </div>
    </div>

</header>
<footer th:fragment="footerWithLogout">
    <p class="left-text" th:text="#{Pie}">Sistema Web</p>
    <div class="right-content">
        <img src="/Imagenes/facebook.png" alt="Logo de Facebook" class="social-logo">
        <img src="/Imagenes/instagram.png" alt="Logo de Instagram" class="social-logo">
        <img src="/Imagenes/twitter.png" alt="Logo de Twitter" class="social-logo">
        <p class="right-text" th:text="#{Proyecto}">Proyecto I, 2024</p>
        <a th:href="@{/LoginController/logout}" class="button logout-button" th:text="#{CerrarSesion}">Cerrar sesión</a>
    </div>
</footer>
</body>
</html>